@inherits LayoutComponentBase
@using Provider
@using BankingClient.Data
@inject UserState  UserState
@using BankingClient.Pages.ChildrenPages

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <UserStateInfo IsLoginState="@UserState.IsLoggedIn" UserName="@UserState.Username" OnClick="@NavigateToDest"></UserStateInfo>
        
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    [Inject] public NavigationManager Navigation { get; set; }
    [Inject] ApiUserService UserService { get; set; }

    public async void NavigateToDest()
    {
        if(UserState.IsLoggedIn)
        {
            var result = await UserService.LogoutUser();
            UserState.IsLoggedIn = result.IsLoggedin;
            Navigation.NavigateTo("login");
        }
        else
        {
            Navigation.NavigateTo("/login");
        }
    }
}